{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
    <div class="container">
      {% include '_form.html' with form=form button=button %}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'assets/js/bootstrap-uploadprogress.js' %}"> </script>  
<script type="text/javascript">
    $('ul').removeClass('form-control');
    $('ul input').removeClass('form-control');
    $("#id_form").uploadprogress();

    $('#id_estado').change( function() {
        var form = $(this);
        $.ajax({
          url: "/filtraCidade/" +  $(this).val(),
          dataType: 'json',
          success: function (data) {
            $('#id_cidade').html("");
            
            if (data.length == 0){
                $('#id_cidade').append($('<option>', {
                  text: 'Não há anúncios neste estado.'
                }));
            }
            else{
                $('#id_cidade').append($('<option>', {
                  text: 'Selecione uma cidade'
                }));
            }
            for (var i = 0; i < data.length; i++) {
              $('#id_cidade').append($('<option>', {
                value: data[i].id,
                text: data[i].data
              }));
            }   

          },
          error: function(data){ 
          },
        });
      })
      $('#id_cidade').change( function() {
        var form = $(this);
        $.ajax({
          url: "/filtrarPlano/" +  $(this).val(),
          dataType: 'json',
          success: function (data) {
            $('#id_plano').html("");
            
            if (data.length == 0){
                $('#id_plano').append($('<option>', {
                  text: 'Não há plano para esta cidade'
                }));
            }
            else{
                $('#id_plano').append($('<option>', {
                  text: 'Selecione um plano'
                }));
            }
            for (var i = 0; i < data.length; i++) {
              $('#id_plano').append($('<option>', {
                value: data[i].id,
                text: data[i].data
              }));
            }   

          },
          error: function(data){ 
          },
        });
        $("#id_plano").removeAttr('disabled');
      })

</script>
{% endblock %}