{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}
{% load djmoney %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <style>
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */ 
      align-content: center!important;
      align-items: center!important;    
  }

  .tab-pane {
    z-index: 99999; /* Sit on top */
  }

  /* Modal Content (Image) */
  .modal-content {
      margin-top: auto;
      /*display: block;*/
      width: auto;
      max-width: 90vw;
      max-height: 90vh;
      margin-left: auto;
      margin-right: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      right: 35px;
      color: white;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }

  .ensaios {
    width: 70%;
  }
</style>
{% endblock %}

{% block content %}
  {{ public_key|json_script:'public_key_var' }}
  {{ preference|json_script:'preference_var' }}

  <div class="modal fade show" id="deleteModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelAnuncio">Apagar Anuncio</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ anuncio.nome }} </span></b>. Esta ação não pode ser revertida e para anunciar novamente você precisará adquirir outro plano. Seus ensaios relacionados a este anúncio também serão apagados. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDelete' anuncio.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade show" id="pauseModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="pauseModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pauseModalLabelAnuncio">Pausar Anuncio</h4>
        </div>
        <div class="modal-body">Pausando <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioPause' anuncio.id %}" class="btn btn-danger">Pausar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="reativarModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="reativarModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="reativarModalLabelAnuncio">Reativar Anuncio</h4>
        </div>
        <div class="modal-body">Reativando <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioPause' anuncio.id %}" class="btn btn-primary">Reativar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="renewModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="renewModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="renewModalLabelAnuncio">Renovar Plano do Anúncio</h4>
        </div>
        <div class="modal-body">Renovando plano do anúncio <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioRenew' anuncio.id %}" class="btn btn-primary">Renovar</a>
        </div>
      </div>
    </div>
  </div>

  {% with 'Anuncio' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary"> <center>
       <div class="box-body">
          <dl class="dl-horizontal">
            
            {% if pagamento_pendente %}
              <dt class="input" style="padding: 0px 0 10px 30px; color: red;">Seu anúncio possui um pagamento pendente. Clique abaixo para reprocessar.</dt>
              <a class="btn btn-primary" href="{% url 'paymentProcess' pagamento_pendente.mercado_pago_preference_id anuncio.id %}">Reprocessar pagamento</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %} 

            {% modelDict model anuncio as values %}
            
            {% if request.user == anuncio.anunciante.user or request.user.is_superuser %}
              <div class="container mt-4">
                <div class="row justify-content-end">
                  <div class="user-control">
                      <button class="btn btn-primary" onclick="window.location.href='{% url 'anuncioEdit' anuncio.id %}'">Editar Anúncio</button>
                      {% if anuncio.pausado %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#reativarModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioPause' anuncio.id %}">Reativar Anúncio</button>
                      {% else %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#pauseModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioPause' anuncio.id %}">Pausar Anúncio</button>
                      {% endif %}
                      <button class="btn btn-primary" data-toggle="modal" data-target="#renewModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioRenew' anuncio.id %}">Renovar Plano</button>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioDelete' anuncio.id %}">Apagar Anúncio</button>
                  </div> 
                </div> 
              </div> 
            {% endif %}

            <div class="container mt-4">
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4">
                  <div class="profile-cover">
                      <div class="profile-cover__mask">
                        <img id="capa" src="{{ anuncio.capa.url }}" onclick="clickHandler(this)">

                        {% if anuncio.instagram %}
                          <div class="media-link instagram">
                            <a href="{{ anuncio.instagram }}" target='_blank' style="background-image: url({% static 'assets/img/icone-instagram.png' %})"></a>
                          </div>
                        {% endif %}
                        {% if anuncio.twitter %}
                          <div class="media-link twitter">
                            <a href="{{ anuncio.twitter }}" target='_blank' style="background-image: url({% static 'assets/img/icone-twitter.png' %})"></a>
                          </div>
                        {% endif %}
                        {% if anuncio.onlyfans %}
                          <div class="media-link onlyfans">
                            <a href="{{ anuncio.onlyfans }}" target='_blank' style="background-image: url({% static 'assets/img/icone-onlyfans.png' %})"></a>
                          </div>
                        {% endif %}
                        {% if anuncio.privacy %}
                          <div class="media-link privacy">
                            <a href="{{ anuncio.privacy }}" target='_blank' style="background-image: url({% static 'assets/img/icone-privacy.png' %})"></a>
                          </div>
                        {% endif %}
                      </div>

                      <h2>{{ anuncio.nome }}</h2>
                      <h6>{{ anuncio.cidade }} - {{ anuncio.estado }}</h6>
                  </div>
                  <div class="infobox mt-3 py-2">
                    <div class="container p-0">
                      <div class="row">
                        <div class="col-6 col-lg-12">
                          <div class="d-flex flex-row justify-content-center align-items-center">
                            <a class="media-link whatsapp" style="background-image: url({% static 'assets/img/icone-whatsapp.png' %})" 
                              href="https://api.whatsapp.com/send?phone=55{{ anuncio.telefone }}&text=Olá! Te vi no Vermelho Sensual e gostaria de mais informações." target='_blank'>
                            </a>
                            <div class="infobox__tag infobox__tag__large">
                              <div>{{ anuncio.telefone }}</div>
                            </div>
                          </div>
                          <div class="row px-1 justify-content-around d-none d-lg-flex">
                            {% for formaPagamento in anuncio.formasPagamento.all %}
                              <div class="infobox__tag col-4">
                                <div>{{ formaPagamento }}</div> 
                              </div>
                            {% endfor %}
                          </div>
                          <div class="infobox__tag infobox__tag__large d-flex justify-content-center">
                            <div>
                                Cachê: 
                                {% if anuncio.cache and anuncio.cache != 0 %} 
                                  {% money_localize anuncio.cache 'BRL' as cacheFormatado %}
                                  {{ cacheFormatado }}
                                {% else %}
                                  A combinar
                                {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="col-6 d-flex d-lg-none infobox__payments--mobile">
                          {% for formaPagamento in anuncio.formasPagamento.all %}
                            <div class="infobox__tag col-6">
                              <div>{{ formaPagamento }}</div> 
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="infobox mt-3 py-2">
                    <div class="container">
                      <div class="row px-1">
                        <div class="col-6 col-md-12 p-0 no-gutters">
                          <label class="infobox__label py-2">Idiomas</label>

                          {% for idioma in anuncio.idiomas.all %}
                            <div class="infobox__tag col-5 d-inline-block d-md-none">
                              <div>
                                <span>{{ idioma }}</span>
                              </div> 
                            </div>
                          {% endfor %}  
                        </div>
                        {% for idioma in anuncio.idiomas.all %}
                          <div class="infobox__tag col-4 d-none d-md-inline-block">
                            <div>
                              <span>{{ idioma }}</span>
                            </div> 
                          </div>
                        {% endfor %}
                      
                        <div class="col-6 col-md-12 p-0 no-gutters">
                          <label class="infobox__label py-2">Atende</label>

                          {% for atende in anuncio.atende.all %}
                            <div class="infobox__tag col-5 d-inline-block d-md-none">
                              <div>
                                <span>{{ atende }}</span> 
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                        {% for atende in anuncio.atende.all %}
                          <div class="infobox__tag col-4 d-none d-md-inline-block">
                            <div>
                              <span>{{ atende }}</span> 
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Informações de atendimento</label>
                    <div class="container">
                      <div class="row px-1">
                        {% for informacao in anuncio.informacoes.all %}
                          <div class="infobox__tag col-6 align-self-center">
                            <div>
                              <span>{{ informacao }}</span> 
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md mt-3 mt-md-0">
                  <div class="infobox ">
                    <label class="infobox__label py-2">Características físicas</label>
                    <div class="container p-0">
                      <div class="row mx-3">
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Idade</span>
                            <span>{{ values.idade }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Peso</span>
                            <span>{{ values.peso }}</span>
                          </div>
                        </div>
                       <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Altura</span>
                            <span>{{ values.altura }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Categoria</span>
                            <span>{{ values.categoria }}</span> 
                          </div>    
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Biotipo</span>
                            <span>{{ values.biotipo }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Seios</span>
                            <span>{{ values.seios }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Olhos</span>
                            <span>{{ values.olhos }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label class="infobox__label my-2">Outras características</label>
                    <div class="infobox__tag-borderless my-2">
                      {% for caracteristica in values.caracteristicas.all %}
                        <span class="col">{{ caracteristica }}</span>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Conheça mais sobre</label>
                    <p>{{ anuncio.texto }}</p>
                  </div>

                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label infobox__label__large">Ensaios</label>

                    <div class="albums">
                      <nav>
                        <div class="nav nav-tabs" role="tablist">
                          {% for ensaio in ensaios %}
                            <a class="nav-item nav-link col" id="nav-{{ ensaio.id }}" data-toggle="tab" role="tab"  href="#{{ ensaio.id }}"
                              aria-controls="{{ ensaio.id }}" aria-selected="false">{{ ensaio.nome }}</a>
                          {% endfor %}      
                        </div>
                      </nav>
                      <div class="tab-content">
                        {% for ensaio in ensaios %}
                          <div id="{{ ensaio.id }}" role="tabpanel" class="tab-pane fade"
                            aria-labelledby="nav-{{ ensaio.id }}">

                            {% modelDict 'Ensaio' ensaio as values %}
                            
                            <div class="container">
                              <div class="row">
                                {% for key, value in values.items %}
                                  {% if key == 'video' %}
                                    {% if value != '0' and value.url %}
                                      <div class="col-4 px-1 pb-2">
                                        <div class="albums__photo-box">
                                          <video controls autoplay id="video" src="{{ value.url }}" 
                                            onclick="clickHandlerVideo(this)"
                                            class="img img-responsive full-width">
                                        </div> 
                                      </div>
                                    {% endif %}
                                  {% else %}
                                    {% if value != '0' and value.url %}
                                      <div class="col-4 px-1 pb-2">
                                        <div class="albums__photo-box">
                                          <img src="{{ value.url }}" 
                                            onclick="clickHandler(this)"
                                            class="img img-responsive full-width">
                                        </div> 
                                      </div>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endfor %}      
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div id="myModal" class="modal" tabindex="-1">
              <!-- The Close Button -->
              <span class="close" id="fecha_modal">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
            </div>

            <div id="myModalVideo" class="modal" tabindex="-1">

              <!-- The Close Button -->
              <span class="close" id="fecha_modal_video">&times;</span>

              <!-- Modal Content (The Image) -->
              <video controls autoplay loop class="modal-content" id="vid01">
            </div>

            </div>
          </div>
          </dl>
        </div>
        </center>
      </div>

     
  {% endwith %}


{% endblock %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYYED20CQF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYYED20CQF');
    ga('send', {
      'hitType':'pageview',
      'title': $(location).attr('href'),
      'location': $(location).attr('href')
    });
  </script>
  <script>
    var id_list = 'listAnuncio';
    var id_modal = 'deleteModalAnuncio';
    var modal = document.getElementById('myModal');
    var modalVideo = document.getElementById('myModalVideo');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var modalImg = document.getElementById("img01");
var modalVid = document.getElementById("vid01");

function clickHandler(ctx){
    modal.style.display = "flex";
    modal.style.backdrop = true;
    modal.style.k = true;
    modalImg.src = ctx.src;
}

function clickHandlerVideo(ctx){
    modalVideo.style.display = "flex";
    modalVideo.style.backdrop = true;
    modalVideo.style.k = true;
    modalVid.src = ctx.src;
}

// Get the <span> element that closes the modal
var span = document.getElementById("fecha_modal");
modal.onclick = function() { 
  modal.style.display = "none";
}
document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    modal.style.display = "none";
  }
});

var span_video = document.getElementById("fecha_modal_video");
modalVideo.onclick = function() { 
  modalVideo.style.display = "none";
}
document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    modalVideo.style.display = "none";
  }
});

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}

span_video.onclick = function() { 
  modalVideo.style.display = "none";
}
// select first tab on Ensaios
$(".albums .nav-item")[0].click();
  </script>  
  
{% endblock %}