{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
    <div class="container">
      {% include '_form.html' with form=form button=button %}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'assets/js/bootstrap-uploadprogress.js' %}"> </script>  

{% endblock %}