{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <style>
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */ 
      align-content: center!important;
      align-items: center!important;    
  }

  /* Modal Content (Image) */
  .modal-content {
      margin-top: auto;
      /*display: block;*/
      width: auto;
      max-width: 150vw;
      max-height: 150vh;
      margin-left: auto;
      margin-right: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      right: 35px;
      color: white;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }
</style>
{% endblock %}

{% block content %}
  <div class="modal fade show" id="deleteModalEnsaio" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelEnsaio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelEnsaio">Apagar Ensaio</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ ensaio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'ensaioDelete' ensaio.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  {% with 'Ensaio' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary" style="z-index = 9999;"> <center>
       <div class="box-body">
          <dl class="dl-horizontal">
            {% modelDict model ensaio as values %}

            {% for key, value in values.items %}
              {% if key != 'user' and key != 'video' and key != 'foto1' and key != 'foto2' and key != 'foto3' and key != 'foto4' and key != 'foto5' and key != 'foto6' and key != 'foto7' and key != 'foto8' and key != 'foto9' and key != 'foto10' %}             
              <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">{% modelFieldName model key %}</dt> {% endif %}

                  
                {% if key == 'video' %}
                  {% if value %} 
                  <a> <video controls id="video" src="{{ ensaio.video.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a><br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% elif key == 'foto1' %}
                  {% if value != '0' %} 
                  {% if value %} 
                  <a> <img id="foto1" src="{{ ensaio.foto1.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a><br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto2' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto2.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %}  
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto3' %}
                  {% if value != '0' %}
                  {% if value %}
                  <a> <img src="{{ ensaio.foto3.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto4' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto4.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto5' %}
                  {% if value != '0' %} 
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto5.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %}  
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto6' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto6.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %}  
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto7' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto7.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br><br>  
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto8' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto8.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto9' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto9.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% elif key == 'foto10' %}
                  {% if value != '0' %}
                  {% if value %} 
                  <a> <img src="{{ ensaio.foto10.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br>  
                  {% else %} 
                  {% endif %}
                  {% else %}  
                  {% endif %}
                  {% else %}              
                <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value|linebreaks }}{% else %}&nbsp;{% endif %}</dd>
                {% endif %}
                                  
            {% endfor %}
            <div id="myModal" class="modal" tabindex="-1">

              <!-- The Close Button -->
              <span class="close" id="fecha_modal">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
            </div>

            <div id="myModalVideo" class="modal" tabindex="-1">

              <!-- The Close Button -->
              <span class="close" id="fecha_modal_video">&times;</span>

              <!-- Modal Content (The Image) -->
              <video controls autoplay loop class="modal-content" id="vid01">
            </div>

          </dl>
        </div>
          {% if request.user == ensaio.anuncio.anunciante.user or request.user.is_superuser %}
          <div class="box-footer" style="margin-left: 30px;">
              <a class="btn btn-primary" href="{% url 'ensaioEdit' ensaio.id %}">Editar Ensaio</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ ensaio.nome }}" data-model="{% url 'ensaioDelete' ensaio.id %}">Apagar Ensaio</a>
          </div> 
          {% endif %}
        </center>
      </div>

     
  {% endwith %}


{% endblock %}

{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listEnsaio';
    var id_modal = 'deleteModalEnsaio';
    // Get the modal
var modal = document.getElementById('myModal');
var modalVideo = document.getElementById('myModalVideo');


// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementsByTagName('img');
for( var i=0,il = img.length; i< il; i ++ ){
 img[i].onclick = clickHandler;
}
var modalImg = document.getElementById("img01");
function clickHandler(){
    modal.style.display = "flex";
    modal.style.backdrop = true;
    modal.style.k = true;
    modalImg.src = this.src;
}

var vid = document.getElementsByTagName('video');
for( var i=0,il = vid.length; i< il; i ++ ){
 vid[i].onclick = clickHandlerVideo;
}
var modalVid = document.getElementById("vid01");
function clickHandlerVideo(){
    modalVideo.style.display = "flex";
    modalVideo.style.backdrop = true;
    modalVideo.style.k = true;
    modalVid.src = this.src;
}

// Get the <span> element that closes the modal
var span = document.getElementById("fecha_modal");
modal.onclick = function() { 
  modal.style.display = "none";
}
document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    modal.style.display = "none";
  }
});

// Get the <span> element that closes the modalVideo
  var span_video = document.getElementById("fecha_modal_video");
  modalVideo.onclick = function() { 
    modalVideo.style.display = "none";
}
document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    modalVideo.style.display = "none";
  }
});

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
  span_video.onclick = function() { 
    modalVideo.style.display = "none";
}
  </script>  
  
{% endblock %}