{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}     
    <!--     Fonts and icons     -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
  
  {% with 'Pagamento' as model %}
    {% include '_modal.html' with modal=model %}
    <body>
    <div class="wrapper">
    <div class="container">
    <div class="row">

     <div class="col-md-8 col-md-offset-2">

      <div class="fresh-table toolbar-color-blue" >
        <table id="list{{ model }}" class="table">
          <thead>
              {% for column in tableHead %}
                <th data-field="{{ column }}" data-sortable="true" >{% modelFieldName model column %} &nbsp; &nbsp;</th>
              {% endfor %}
              <th>&nbsp;</th>
          </thead>
          <tbody>
            {% for pagamento in pagamentos %}
              <tr>
                <td>
                  <a id="{{ pagamento.mercado_pago_payment_id }}" href="{% url 'pagamentoShow' pagamento.id %}">
                    {{ pagamento.mercado_pago_payment_id }}
                  </a>
                </td> 
                <td>
                  {% if pagamento.anunciante is not None %}
                    {{ pagamento.anunciante }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>     
                <td>
                  {% if pagamento.anuncio is not None %}
                    {{ pagamento.anuncio }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>     
                <td>
                  {% if pagamento.valor is not None %}
                    {{ pagamento.valor }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>     
                <td>
                  {% if pagamento.mercado_pago_status is not None %}
                    {{ pagamento.mercado_pago_status }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>                 
                <td>
                    <a href="{% url 'pagamentoEdit' pagamento.id %}" class="btn btn-primary"> 
                      <span class="fa fa-pencil text-blue"></span> 
                    </a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ pagamento.mercado_pago_payment_id }}" data-model="{% url 'pagamentoDelete' pagamento.id %}">
                      <span class="fa fa-trash-o text-red"></span> 
                    </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    </div>
    </div>
  </div>
</body>
{% endwith %}

{% endblock content %}


{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listPagamento';
    var id_modal = 'deleteModalPagamento';
  </script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap-table.js' %}"></script>
  <script type="text/javascript" src="{% static 'mysite/dataTables.js' %}"></script>
              
{% endblock %}