/*CSS relacionados à logomarca

Variáveis
$font-size-logo-lg: 3.5em;
$font-size-slogan: 1.3em;*/

/*Cores do Logo*/
.logo-red {
  color: #de3119;
  font-weight: bold;
}

.logo-blue {
  color: #de3119;
  font-weight: bold;
}

/*Logo da Tela Inicial*/
.logo-top{
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 0;
  padding-botom: 0;
}
.slogan-lg {
  font-size: 1.3em;
  font-weight: 0.5;  
  text-align: center;
  padding: 0;
}