{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

      <div class="container" style="justify-content: center;">
        <div class="container" style="justify-content: center;">
          <p class="mt-5">Para mais informações sobre como anunciar, entre em contato conosco!<br>
            Nossa equipe está pronta para tirar qualquer dúvida sobre como anunciar e nossas ferramentas para anunciantes. <br>
          </p> 
          <p class="mt-5"></p>Mais uma vez gostariamos de deixar claro que não temos qualquer relação com os serviços anunciados no site, sendo eles de total responsabilidade dos anunciantes.
          </p> 
          <p class="mt-5">Nossas formas de contato são: <br>
            <a class="media-link whatsapp" style="background-image: url({% static 'assets/img/icone-whatsapp.png' %})" 
            href="https://api.whatsapp.com/send?phone=5519991961599&text=Olá! Gostaria de mais informações sobre como anunciar." target='_blank'>
          </a> Whatsapp - (19) 9XXXX-XXXX
          </p> 
          <p class="mt-3"> <i class="fa fa-envelope"></i> vermelho_sensual@gmail.com
            </p> 
        </div>
      </div>

{% endblock %}