@import "colors";
@import "fonts";

.body {
    min-height: calc(100vh - 153px - 2.6rem);
    padding: 0;
    background-color: $background;
    color: $font-color-base;
    font-family: $font-main;
    overflow: hidden;
}

.btn {
    &.btn-primary,
    &.btn-success,
    &.btn-danger {
        background-color: white;
        opacity: initial;
    }

    &.btn-success {
        &:active {
            background: #049F0C;
        }
    }

    &.btn-danger {
        &:active {
            background: #EE2D20;
        }
    }

    &.btn-primary {
        &:active {
            background: #1D62F0;
        }
    }
}

.user-control {
    padding-right: 15px;
}

.landing {
    background-color: $landing-page-bg;

    &__logo {
        margin-top: 10%;
    }

    &__form {
        margin-top: 5rem;
    }

    .form-control {
        background-color: $input-bg;
        border-width: 2px;
        border-color: $secondary;
        color: $secondary;
        font-weight: bold;
        font-size: 1rem;
        opacity: 1;
    }

    .btn {
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: uppercase;

        &.btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }
    }

    h5 {
        color: $secondary;
        font-weight: bold;
    }
}

.page-header {

    &.page-header-min {
        max-height: 90px; 
    }

    &::before {
        background: none;
    }

    .page-header-image {
        position: relative;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        margin: auto;
        display: block;
    }

    /*&::before {
        background: rgb(98,0,2);
        background: linear-gradient(90deg, rgba(98,0,2,.75) 0%, rgba(238,238,238,0) 20%);
    }

    &::after {
        background: rgb(98,0,2);
        background: linear-gradient(270deg, rgba(98,0,2,.75) 0%, rgba(238,238,238,0) 20%);
    }
    
    .page-header-image {
        position: relative;
        background-size: auto 90%;
        background-position: center center;
        width: 90%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        margin: auto;
        display: block;
    }
    */
} 

.navbar {
    background-color: $primary;
    height: 40px;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    z-index: 2;

    .nav-link {
        text-transform: uppercase;
    }

    .nav-item {
        .form-horizontal {
            padding: 7px 15px;
        }

        .dropdown-menu {
            .control-label {
                width: auto;
                min-width: 100%;
                background-color: #FFFFFF;
                border: 2px solid #AAAAAA;
                border-radius: 30px;
                font-weight: 600;
                color: #666666;
                padding: 8px 16px;
                height: 40px;
                -webkit-box-shadow: none;
                box-shadow: none;
                opacity: 0.7;
                filter: alpha(opacity=70);
            }
        }

        &__login {
            @media screen and (min-width: 1235px) {
                position: absolute;
                right: 20px;
            }

            .dropdown-menu {
                margin-right: 5px;
                left: auto;
                right: 0;

                &::before {
                    left: auto;
                    right: 10px;
                }
            }
        }

        &__user-menu {
            .nav-link {
                text-transform: none;
            }

            @media screen and (min-width: 1235px) {
                position: absolute;
                right: 20px;

                .dropdown-menu {
                    margin-right: 5px;
                    left: auto;
                    right: 0;
                    padding: 11px 23px;
                    
                    &__handler {
                        overflow:auto;
                        max-height: 80vh;
                    }

                    &::before {
                        left: auto;
                        right: 10px;
                    }
                }
            }
        }
    }

    .login {
        box-shadow: none!important;
        border: none!important;
        margin-bottom: 0;

        > a {
            color: #FFFFFF!important;
            text-shadow: none!important;
            left: auto;
            right: 0;
            background-color: transparent!important;
            font-weight:normal!important;
            font-size: 1rem;
            padding: 10px 35px;
            line-height: 1.5;
            width: 120px;

            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 0.1875rem;
            }
        }

        &__pop-up {
            
            padding: 15px; 
            padding-bottom: 10px;

            &::before {
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                vertical-align: middle;
                content: "";
                top: -5px;
                left: 10px;
                right: auto;
                color: #FFFFFF;
                border-bottom: 0.4em solid;
                border-right: 0.4em solid transparent;
                border-left: 0.4em solid transparent;
            }
        }
    }
}

.footer {
    padding: .4rem 0;
    height: 2.6rem;
    color: $font-color-base;
    font-size: 1.6rem;
    background-color: $aux;
}

.albums {
    width: 100%;

    .nav-tabs {
        border-bottom: none;
        padding: 0 0 .7rem;
    }

    .nav-item {
        background-color: $aux;
        font-family: $font-main;
        font-weight: normal;
        font-size: 1rem;
        color: $font-color-base;
        margin: 0 .1rem -1px;

        &.active {
            background-color: $primary;
            color: $font-color-base;
            border-color: $primary;
        }
    }

    &__photo-box {
        position:relative;
        overflow:hidden;
        padding-bottom:100%;

        img {
            position: absolute;
            left: 0;
            cursor: pointer;
        }

        video {
            position: absolute;
            left: 0;
            cursor: pointer;
            max-width: 100%;
            border-radius: 1px;
            vertical-align: middle;
            border-style: none;
        }
    }
}

.pair-profile-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-link {
    > a {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        position: relative;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    &.whatsapp {
        display: inline-block;
        background-size: cover;
        vertical-align: middle;
        width: 2.5rem;
        height: 2.5rem;

        + div {
            vertical-align: middle;
        }
    }
}   

.profile-cover {
    &__mask {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        position: relative;
        overflow: visible;
        border-color: white;
        border-width: .25rem;
        border-style: solid;
        padding: .25rem;
    }

    .media-link {
        position: absolute;

        > a {
            width: 4rem;
            height: 4rem;
            display: block;
            position: relative;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }

        &.instagram {
            top: 5rem;
            left: -2rem;
        }

        &.twitter {
            top: 10rem;
            left: 0rem;
        }

        &.onlyfans {
            left: 10.5rem;
            top: 10rem
        }

        &.privacy {
            top: 5rem;
            left: 12.5rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }
    
    h2, h6 {
        font-family: $font-main;
        color: $font-color-base;
        text-transform: none;
    }

    h2 {
        margin: .8rem 0 .5rem;
    }

    h6 {
        font-weight: normal;
    }
}

.infobox {  
    background-color: $secondary;
    color: $font-color-base;
    font-family: $font-main;
    font-weight: bold;
    font-size: 1.20rem;
    border-radius: 10px;
    
    p {
        font-size: 1rem;
        font-weight: normal;
        font-family: $font-main;
        margin: 0;
    }

    &__payments {
        &--mobile {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__label {
        display: block;

        &__large {
            font-size: 1.8rem;   
        }
    }

    &__tag-borderless {
        font-size: 1rem;
        font-weight: normal;
        display: inline-block;
    }

    &__tag {
        font-size: 1rem;
        font-weight: normal;
        display: inline-block;
        padding: 0.25rem;
        
        &__large {
            font-size: 1rem;

            > div {
                padding: .6rem .25rem
            }
        }

        > div {
            background-color: $primary;
            border-radius: 4px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__title {
            font-weight: bold;
            display: block;
            font-size: .8rem; 
            + span {
                font-size: .8rem;
            }
        }
    }
}

.splide {
    background-color: $secondary;
    padding: 1em 3em;
    margin-bottom: 2em;
    
    &__slide {
        margin: 0 15px;
    }

    &__arrow {
        &:hover svg {
            fill: #867676;
        }

        svg {
            fill: white;
        }
    }

    &__pagination {
        display: none;
    }

    .list-body {
        &__item {
            margin-bottom: 0;
        }
    }
}

.list-header {
    background-color: $primary;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

.list-body {
    margin: 0;
    background-color: $secondary;
    padding: 24px 16px 0; 
    margin-bottom: 2em;
    border-radius: 12px; 

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        .capa {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 250px;
    
            + span {
              color: #fff; 
              margin-top: 6px;
            }
        }
    }
}

.modal {
    color: #212529;

    .modal-content {
        &#img01,
        &#vid01 {
            margin-top: 0;   
        }
    }
}

.formulario {
    &__hide {
        display: none;
    }

    &__checkbox {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        div {
            width: 33%;

            @media screen and (max-width: 576px) {
                width: 50%;
            }

            input {
                display: inline;
            }
        }
    }
}
