{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block header %}: <b>{{ seios.nome }}</b>{% endblock %}

{% block content %}
  <div class="modal fade show" id="deleteModalSeios" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelSeios"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelSeios">Apagar Seios</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ seios.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'seiosDelete' seios.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  {% with 'Seios' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary">
       <div class="box-body">
          <dl class="dl-horizontal">
            {% modelDict model seios as values %}

            {% for key, value in values.items %}
              <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">{% modelFieldName model key %}</dt>
                <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value }}{% else %}&nbsp;{% endif %}</dd>
            {% endfor %}

          </dl>
        </div>
          <div class="box-footer" style="margin-left: 30px;">
              <a class="btn btn-primary" href="{% url 'seiosEdit' seios.id %}">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ seios.nome }}" data-model="{% url 'seiosDelete' seios.id %}">Apagar</a>
          </div>
      </div>

     
  {% endwith %}

{% endblock %}

{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listSeios';
    var id_modal = 'deleteModalSeios';
  </script>  
{% endblock %}