{% load static %}
{% load i18n %}
{% load mysite_tags %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="{% static '/assets/css/now-ui-kit.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "theme.scss" %}" />
    {% endcompress %}

     {% block style %} {% endblock %}
</head>
<body class="sidebar-collapse landing" onload='preencher()'>     
  <div class="page-header clear-filter" > 
    <div class="container" > 
      <img class="landing__logo" src="{% static '/assets/img/logo_entrada.png' %}">
      <form action="#" class="landing__form"  id="id_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display: inline-block;">
          {% for field in form %}
            <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}">
                            
              {{ field|addcssclass:'form-control' }}

              {% for error in field.errors %}
                <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="mt-5">
          <h5> Ao entrar, declaro ser maior de 18 anos</h5>
          <input type="submit" name="commit" id="id_button{{ id }}" value="{{ button }}" class="btn btn-lg btn-success">  

          {% if modal %}
            <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">{% trans 'Cancelar' %}</button>
          {% endif %}
        </div>
      </form> 
      <!-- <div class="toolbar">
        <a class="btn btn-primary btn-sm" style="font-size: 18px;" href="{% url 'anuncianteNew' %}">Quer anunciar em uma nova cidade? <br> Cadastre-se aqui! </a>
      </div> --> 
    </div>            
    <footer class="footer">
      <div class="container">
          <div class="copyright" style="z-index: 999; text-align: center;">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, Vermelho Sensual
          </div>
      </div>
    </footer>
  </div>
</body>
<!--   Core JS Files   -->
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'assets/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/now-ui-kit.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function(){
  $('#login-trigger').click(function(){
    $(this).next('#login-content').slideToggle();
    $(this).toggleClass('active');          
    
    if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
      else $(this).find('span').html('&#x25BC;')
    });
  $("#id_cidade").prop("disabled","true");
});
function preencher() {
  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(function(posicao) {
      var url = "http://nominatim.openstreetmap.org/reverse?lat="+posicao.coords.latitude+"&lon="+posicao.coords.longitude+"&format=json&json_callback=preencherEstado";
      
      var script = document.createElement('script');
      script.src = url;
      document.body.appendChild(script);
    });
  } else {
    alert('seu navegador não suporta geolocation');
  }
}

function preencherEstado(dados) {
  console.log(dados);
  $.ajax({
          url: "/?bla=" + dados.address.state,
          dataType: 'json',
          success: function (data) {
            document.querySelector('[id=id_estado]').value = data[0].id;
            preencherCidade(data[0].id, dados); 

          },
          error: function(data){ 
          },
        });
}

function preencherCidade(estado, dados) {
  $.ajax({
          url: "/filtraCidade/" + estado,
          dataType: 'json',
          success: function (data) {
            $('#id_cidade').html("");
            if (data.length == 0){
                $('#id_cidade').append($('<option>', {
                  text: 'Não há anúncios neste estado.'
                }));
            }
            else{
                $('#id_cidade').append($('<option>', {
                  text: 'Selecione uma cidade'
                }));
            }
            for (var i = 0; i < data.length; i++) {
              $('#id_cidade').append($('<option>', {
                value: data[i].id,
                text: data[i].data
              }));
              if (data[i].data == dados.address.city){
                document.querySelector('[id=id_cidade]').value = data[i].id; };
            }   

          },
          error: function(data){ 
          },
        });
}

$('#id_estado').change( function() {
        var form = $(this);
        $.ajax({
          url: "/filtraCidade/" +  $(this).val(),
          dataType: 'json',
          success: function (data) {
            $('#id_cidade').html("");
            
            if (data.length == 0){
                $('#id_cidade').append($('<option>', {
                  text: 'Não há anúncios neste estado.'
                }));
            }
            else{
                $('#id_cidade').append($('<option>', {
                  text: 'Selecione uma cidade'
                }));
            }
            for (var i = 0; i < data.length; i++) {
              $('#id_cidade').append($('<option>', {
                value: data[i].id,
                text: data[i].data
              }));
            }   

          },
          error: function(data){ 
          },
        });
        $("#id_cidade").removeAttr('disabled');
      })

        
        

</script>


</html>