{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
    <div class="container">
      {% include '_form.html' with form=form button=button %}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('ul').removeClass('form-control');
    $('ul input').removeClass('form-control');    
</script>
{% endblock %}