{% load static %}
{% load i18n %}
{% load mysite_tags %}


{% for message in messages %}
  {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissable">
  {% else%}
    <div class="alert alert-{{ message.tags }} alert-dismissable">
  {% endif %}


  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>
    {% if message.tags == 'info' %}
      <i class="icon fa fa-info"></i>{% trans 'Informação' %}
    {% elif message.tags == 'success' %}
      <i class="icon fa fa-check"></i>{% trans 'Sucesso!' %}
    {% elif message.tags == 'warning' %}
      <i class="icon fa fa-warning"></i>{% trans 'Atenção!' %}
    {% elif message.tags == 'error' %}
      <i class="icon fa fa-ban"></i>{% trans 'Algo deu errado :(' %}
    {% endif %}
  </h4>
  {{ message|safe }}
  </div>
{% endfor %}
