{% load static %}
{% load i18n %}
{% load mysite_tags %}


<form action="#" id="id_form" method="post" enctype="multipart/form-data">
 {% csrf_token %}
  <div class="formulario container mt-4">
    <div class="row">
      {% for field in form %}
        {% if field.label|ifinlist:"Plano,Idiomas,Formas de Pagamento,Texto,Atende,Características Físicas,Informações" %}
          <div class="col-12">
        {% else %}
          <div class="col-12 col-lg-6">
        {% endif %}
          <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}">
            
            {% if field.field.required %}* {% endif %} {% if field.is_hidden %} {% else %}<b>{{ field.label }}</b>: &nbsp;  {{ field.help_text }} {% endif %}
            
            {% if not field.label|ifinlist:"Idiomas,Formas de Pagamento,Atende,Características Físicas,Informações,Características Físicas da Parceira" %}
              {{ field|addcssclass:'form-control' }}
            {% else %}
              {{ field|addcssclass:'formulario__checkbox' }}
            {% endif %}

            {% for error in field.errors %}
              <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
            {% endfor %}  
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="box-footer">
    <input type="submit" name="commit" id="id_button{{ id }}" value="{{ button }}" class="btn btn-success">  

    {% if modal %}
      <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans 'Cancel' %}</button>
    {% else %}
      <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">{% trans 'Cancel' %}</a>
    {% endif %}
  </div>
</form> 
