{% load static %}
{% load i18n %}
{% load mysite_tags %}

<aside class="main-sidebar"> <!-- Left side column. contains the logo and sidebar -->
  <section class="sidebar"> <!-- sidebar: style can be found in sidebar.less -->
    <ul class="sidebar-menu"> <!-- Sidebar Menu -->
      <li class="header">MENU</li>
      {% with request.resolver_match.url_name as url_name %}
        
        <li id="Cadastros" class="treeview {% if url_name == 'anuncianteList' %} active {% endif %}">
          <a href="#">
            <i class="fa fa-database"></i>
            <span>Cadastros e Listas</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>

          <ul class="treeview-menu">
            {{ 'anuncianteList'|menuItem:url_name }}
          </ul>
        </li> 
         
      {% endwith %}

    </ul>
  </section>
</aside>
