{% load static %}
{% load i18n %}
{% load mysite_tags %}

<div class="modal fade show" id="deleteModal{{ modal }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ modal }}"  data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><span>&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel{{ modal }}">Apagar {% modelName modal %}</h4>
      </div>
      <div class="modal-body">Apagando <b><span></span></b>. Deseja continuar?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <a href="" class="btn btn-danger">Apagar</a>
      </div>
    </div>
  </div>
</div>
