{% load static %}
{% load i18n %}
{% load mysite_tags %}


<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="{% static '/assets/css/now-ui-kit.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static '/assets/css/splide-sea-green.min.css' %}">
    <link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/assets/css/fresh-bootstrap-table.css' %}">

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "theme.scss" %}" />
    {% endcompress %}

     {% block style %} {% endblock %}
</head>

<body class="template-page sidebar-collapse">
  
  <div class="page-header page-header-mini d-none d-md-block">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{% static '/assets/img/banner.png' %}');">
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="400">
    <div class="container" style="max-width: 100%;">
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation" data-nav-image="{% static '/assets/img/bg8.jpg' %}" style="justify-content: center;">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><p>Garotas</p></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'anuncioList' %}" style="font-size:15px;"> Todas </a>
              <div class="dropdown-divider"></div>
                {% categorias_list request as categorias_ %}
                {% for categoriaId, categoriaNome in categorias_.items %}
                  <a class="dropdown-item" href="{% url 'anuncioList' categoriaId %}" style="font-size:15px;">{{ categoriaNome }} </a>
                  <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
          </li> 
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'anuncioDList' %}"><p>Duplas</p></a> 
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'busca' %}">
              <i class="fa fa-search"></i>
              <p>Busca Personalizada</p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="alt_reg" onclick="pega_estados()"><p>Alterar Região</p></a>
            <div class="dropdown-menu">
              <form action="/alteraRegiao/" id='alteraRegiao' class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <select class="control-label" id="id_altEstado" name="estado">]
                      <option value="">Selecione um estado</option>
                    </select> 
                  </div>
                  <div class="form-group">
                    <select class="control-label" id="id_altCidade" name="cidade" disabled>
                      <option value="">Selecione uma cidade</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="submit" value='Alterar Região' class="btn btn-success" >  
                  </div>
              </form>
            </div>   
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contatoShow' %}">
              <i class="fa fa-envelope"></i>
              <p>Contato</p>
            </a>
          </li>
                    
          {% if user.is_authenticated and request.session.anunciante %}
            <li class="nav-item dropdown nav-item__user-menu">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="alt_reg"><p>{{ user.username }}</p></a>
              <div class="dropdown-menu">
                <div class="dropdown-menu__handler">
                  <a class="dropdown-item" href="{% url 'anuncianteShow' request.session.anunciante %}" style="font-size:15px;">Ver Cadastro</a>

                  {% if request.session.aprovado %}
                    {% anuncios_list request as usuario %}
                    {% for anuncioId, anuncioNome in usuario.items %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'anuncioEdit' anuncioId %}" style="font-size:15px;">Editar Anúncio {{ anuncioNome }} </a>
                      <a class="dropdown-item" href="{% url 'anuncioShow' anuncioId %}" style="font-size:15px;">Ver Anúncio {{ anuncioNome }}</a>
                    {% endfor %}
            
                    {% anunciosD_list request as usuario %}
                    {% for anuncioDId, anuncioDNome in usuario.items %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'anuncioDEdit' anuncioDId %}" style="font-size:15px;">Editar Anúncio {{ anuncioDNome }} </a>
                      <a class="dropdown-item" href="{% url 'anuncioDShow' anuncioDId %}" style="font-size:15px;">Ver Anúncio {{ anuncioDNome }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
            
                    <a class="dropdown-item" href="{% url 'anuncioNew' %}" style="font-size:15px;">Criar Anúncio</a>
                    <a class="dropdown-item" href="{% url 'anuncioDNew' %}" style="font-size:15px;">Criar Anúncio de Dupla</a>  

                    {% if request.session.tem_anuncio %}
                      <a class="dropdown-item" href="{% url 'ensaioList' %}" style="font-size:15px;">Criar/Editar Ensaio</a>
                    {% endif %}        

                    <a class="dropdown-item" href="/anunciante/sign_out/" style="font-size:15px;">Sair</a>

                    {% if user.is_superuser %}
                      <a class="dropdown-item" href="{% url 'anuncianteList' %}" style="font-size:15px;">Ver Anunciantes</a>
                      <a class="dropdown-item" href="{% url 'caracteristicaList' %}" style="font-size:15px;">Ver Caracteristicas</a>
                      <a class="dropdown-item" href="{% url 'informacaoList' %}" style="font-size:15px;">Ver Informações</a>
                      <a class="dropdown-item" href="{% url 'pagamentoList' %}" style="font-size:15px;">Ver Pagamentos</a>
                      <a class="dropdown-item" href="{% url 'planoList' %}" style="font-size:15px;">Ver Planos</a>
                      <a class="dropdown-item" href="{% url 'categoriaList' %}" style="font-size:15px;">Ver Categorias</a>
                      <a class="dropdown-item" href="{% url 'olhosList' %}" style="font-size:15px;">Ver Olhos</a>
                      <a class="dropdown-item" href="{% url 'seiosList' %}" style="font-size:15px;">Ver Seios</a>
                      <a class="dropdown-item" href="{% url 'biotipoList' %}" style="font-size:15px;">Ver Biotipos</a>
                      <a class="dropdown-item" href="{% url 'idiomaList' %}" style="font-size:15px;">Ver Idiomas</a>
                      <a class="dropdown-item" href="{% url 'atendeList' %}" style="font-size:15px;">Ver "Atende"</a>
                    {% endif %}

                    {% else %}
                      <a class="dropdown-item" href="/anunciante/sign_out/" style="font-size:15px;">Sair</a>
                    {% endif %}
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav-item" id="blink_me">
              <a class="nav-link" href="{% url 'anunciantePreNew' %}">
                <i class="fa fa-bullhorn"></i>
                <p>Quero Anunciar</p>
              </a>
            </li>
            <li class="nav-item dropdown nav-item__login">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="alt_reg"><p>Log in</p></a>
              <div class="dropdown-menu">
                <form action="/anunciante/sign_in/" id='for' class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <input placeholder="Email" class="control-label" id="id_email" maxlength="30" name="email" type="text"></input>
                  </div>
                  <div class="form-group">
                    <input placeholder="Password" class="control-label" id="id_password" maxlength="30" name="password" type="password"></input>
                  </div>
                  <div class="form-group">
                    <input type="submit" value='Entrar' class="btn btn-success" >
                  </div>
                  <a href="{% url 'userPasswordNew' %}" style="font-size:15px; color:red" >Esqueci Minha Senha</a>
                </form>
              </div>
            </li>
          {% endif %}
        </ul> 
      </div>
    </div>
  </nav>
    <!-- End Navbar -->

      {% comment %}
      <ol class="breadcrumb">
        {% for url in breadcrumbs %}
          {% urlResolve url as breadcrumb %}
          <li {% if forloop.last %} class="active" {% endif %}>
            {% if not forloop.last %} <a href="{{ breadcrumb.url }}"> {% endif %}
              <i class="fa {{ breadcrumb.icon }}"></i>
              <span>{{ breadcrumb.title }} </span>
            {% if not forloop.last %} </a> {% endif %}
          </li>
        {% endfor %} 
      </ol>
      {% endcomment %}
    <div class="body">
      {% include '_alert.html' %}
      {% block content %} {% endblock %}
    </div>

        <footer class="footer">
            <div class="container">
                <div class="copyright" style="text-align: center;">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Vermelho Sensual
                </div>
            </div>
        </footer>
</body>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'assets/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/now-ui-kit.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function(){
  $('#login-trigger').click(function(){
    $(this).next('#login-content').slideToggle();
    $(this).toggleClass('active');          
    
    if ($(this).hasClass('active')) $(this).find('span').html('&#x25B2;')
      else $(this).find('span').html('&#x25BC;')
    })
});
(function blink() { 
  $('#blink_me').fadeOut(500).fadeIn(500, blink); 
})();
function login_to_user(){

    var email = document.getElementById('id_email');
    var password = document.getElementById('id_password');
    }

function pega_estados(){
  $.ajax({
    url: "/pegaEstados/",
    dataType: 'json',
    success: function (data) {
      $('#id_altEstado').html("");
      
      if (data.length == 0){
          $('#id_altEstado').append($('<option>', {
            text: 'Não há anúncios neste estado.',
            value: ''
          }));
      }
      else{
          $('#id_altEstado').append($('<option>', {
            text: 'Selecione um estado',
            value: ''
          }));
      }
      for (var i = 0; i < data.length; i++) {
        $('#id_altEstado').append($('<option>', {
          value: data[i].id,
          text: data[i].data
        }));
      }   

    },
    error: function(data){ 
    },
  });
}

$('#id_altEstado').change( function() {
  var form = $(this);
  var value = form.val();

  if (!value) {
    $('#id_altCidade').prop('disabled', true);
    $('#id_altCidade').val("");
  }

  $.ajax({
    url: "/filtraCidade/" +  $(this).val(),
    dataType: 'json',
    success: function (data) {
      $('#id_altCidade').html("");
      
      if (data.length == 0){
          $('#id_altCidade').append($('<option>', {
            text: 'Não há anúncios neste estado.',
            value: ''
          }));
      }
      else{
          $('#id_altCidade').append($('<option>', {
            text: 'Selecione uma cidade',
            value: ''
          }));

          $('#id_altCidade').prop('disabled', false);
      }
      for (var i = 0; i < data.length; i++) {
        $('#id_altCidade').append($('<option>', {
          value: data[i].id,
          text: data[i].data
        }));
      }   
    },
    error: function(data){ 
    },
  });
}) 
</script>

{% block script %} {% endblock %}

</html>