{% extends '_templ.html' %}  

{% load static %}
{% load i18n %}
{% load mysite_tags %}


{% block body %}
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        {% urlTitle request.resolver_match.url_name %}{% block header %} {% endblock %}
      </h1>

      <ol class="breadcrumb">
        {% for url in breadcrumbs %}
          {% urlResolve url as breadcrumb %}
          <li {% if forloop.last %} class="active" {% endif %}>
            {% if not forloop.last %} <a href="{{ breadcrumb.url }}"> {% endif %}
              <i class="fa {{ breadcrumb.icon }}"></i>
              <span>{{ breadcrumb.title }} </span>
            {% if not forloop.last %} </a> {% endif %}
          </li>
        {% endfor %} 
      </ol>
    </section>

    <section class="content">
      {% include '_alert.html' %}
      {% block content %} {% endblock %}
    </section>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('ul').removeClass('form-control');
    $('ul').removeClass('input-lg');
    $('ul input').removeClass('form-control');
    $('ul input').removeClass('input-lg');

  </script>
  <script>
    $('input[type=checkbox]').removeClass('form-control');
  </script>
{% endblock %}
