{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
<div class="formulario container mt-4">
  <div id="casa_form" style="display: inline;">
    <form action="#" id="id_form2" method="post" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="box-body">
        {% for field in form2 %}
          {% if field.label|ifinlist:"Idade Mínima,Idade Máxima" %}
            {% if field.label == "Idade Mínima" %}
              <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}" >
                <b>Idade:</b>
                <div class="col-12 col-lg-6 mt-5">
                  <div id="slider-idade"></div>
                </div>
              </div>
            {% endif %}
            {{ field|addcssclass:'formulario__hide' }}
          {% elif field.label|ifinlist:"Altura Mínima,Altura Máxima" %}
            {% if field.label == "Altura Mínima" %}
              <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}" >
                <b>Altura:</b>
                <div class="col-12 col-lg-6 mt-5">
                  <div id="slider-altura"></div>
                </div>
              </div>
            {% endif %}
            {{ field|addcssclass:'formulario__hide' }}
            {% elif field.label|ifinlist:"Peso Mínimo,Peso Máximo" %}
            {% if field.label == "Peso Mínimo" %}
              <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}" >
                <b>Peso:</b>
                <div class="col-12 col-lg-6 mt-5">
                  <div id="slider-peso"></div>
                </div>
              </div>
            {% endif %}
            {{ field|addcssclass:'formulario__hide' }}
          {% elif field.label != "Altura Máxima" and field.label != "Peso Máximo" %}
            <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}" style="display: table;">

              <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}" 
                style="display: table-cell; background-clip: padding-box; border-right: 30px solid transparent;">

                {% if field.field.required %}* {% endif %}<b>{{ field.label }}</b>: &nbsp;

                {% if field.label|ifinlist:"Idiomas,Atende,Formas de Pagamento,Caracteristicas,Informações" %}
                  {{ field|addcssclass:'formulario__checkbox' }}
                {% else %}
                  {{ field|addcssclass:'form-control' }}
                {% endif %}

                {% for error in field.errors %}
                  <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
                {% endfor %}
              </div>

            {% if field.label != "Altura Mínima" and field.label != "Peso Mínimo" %}
              </div>
            {% endif %}
          {% else %}
            <div class="{% if field.errors %} form-group has-error {% else %} form-group has-feedback {% endif %}"
              style="display: table-cell; margin: 0px 5px 5px 0px;">
              
              {% if field.field.required %}* {% endif %}<b>{{ field.label }}</b>: &nbsp;
              
              {{ field|addcssclass:'form-control' }}

              {% for error in field.errors %}
                <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label>
              {% endfor %}
            </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="box-footer">
        <input type="submit" name="commit" id="id_button{{ id }}" value="{{ button }}" class="btn btn-success">  

      </div>
    </form>
  </div> 
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

   /* $('#id_categoria').change( function() {
      document.getElementById("casa_form").style.display = "none";
      var cat = $(this).val();
      switch (cat) {
        case "1":
          document.getElementById("casa_form").style.display = "inline";
          break;
        case "2":
          document.getElementById("casa_form").style.display = "inline";
          break;
        case "3":
          document.getElementById("casa_form").style.display = "inline";
          break;
        case "4":
          document.getElementById("casa_form").style.display = "inline";
          break;
        case "5":
          document.getElementById("casa_form").style.display = "inline";
          break;
        case "6":
          document.getElementById("casa_form").style.display = "inline";
          break;
      };
    }) */

    $('ul').removeClass('form-control');
    $('ul input').removeClass('form-control');

    $('#id_estado').change( function() {
        var form = $(this);
        $.ajax({
          url: "/filtraCidade/" +  $(this).val(),
          dataType: 'json',
          success: function (data) {
            $('#id_cidade').html("");
            
            if (data.length == 0){
                $('#id_cidade').append($('<option>', {
                  text: 'Não há anúncios neste estado.'
                }));
            }
            else{
                $('#id_cidade').append($('<option>', {
                  text: 'Selecione uma cidade'
                }));
            }
            for (var i = 0; i < data.length; i++) {
              $('#id_cidade').append($('<option>', {
                value: data[i].id,
                text: data[i].data
              }));
            }   

          },
          error: function(data){ 
          },
        });
      })

      var sliderIdade = document.getElementById("slider-idade");
      var sliderAltura = document.getElementById("slider-altura");
      var sliderPeso = document.getElementById("slider-peso");

      noUiSlider.create(sliderIdade, {
        start: [18, 65],
        connect: true,
        step: 1,
        range: {
            'min': 18,
            'max': 65
        },
        format: {
          to: function(value) {
            return Math.round(value);
          },
          from: function(value) {
            return Math.round(value) ;
          } 
        },
        tooltips: true
      });

      noUiSlider.create(sliderAltura, {
        start: [1.30, 2.30],
        connect: true,
        step: 0.05,
        range: {
            'min': 1.30,
            'max': 2.30
        },
        format: {
          to: function(value) {
            return String(value.toFixed(2)).replace('.', ',');
          },
          from: function(value) {
            return value;
          } 
        },
        tooltips: true
      });

      noUiSlider.create(sliderPeso, {
        start: [30, 150],
        connect: true,
        step: 1,
        range: {
            'min': 30,
            'max': 150
        },
        format: {
          to: function(value) {
            return String(value.toFixed(0)).replace('.', ',');
          },
          from: function(value) {
            return value;
          } 
        },
        tooltips: true
      });

      sliderIdade.noUiSlider.on('change', function(values, handle) {
        document.getElementById('id_idade_min').value = values[0];
        document.getElementById('id_idade').value = values[1];
      });

      sliderAltura.noUiSlider.on('change', function(values, handle) {
        document.getElementById('id_altura_min').value = values[0].replace(',', '.');
        document.getElementById('id_altura').value = values[1].replace(',', '.');
      });

      sliderPeso.noUiSlider.on('change', function(values, handle) {
        document.getElementById('id_peso_min').value = values[0].replace(',', '.');
        document.getElementById('id_peso').value = values[1].replace(',', '.');
      });

</script>
{% endblock %}