{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}  
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}


{% block content %}

    <div class="wrapper" >
      <section class="content">
        </div>
        <br /> <br />
          <!-- Form -->
        <div class="row">
          <div class="col-md-12" style="text-align: center;">

            <div class="box box-primary" >
              <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if title %}
                  <div class="box-header with-border">
                    {{ title }}
                  </div> 
                {% endif %} 
                <div class="box-body">
                  {{ label }}
                {% for field in form %}
                  <div class="
                    {% if field.errors %}
                      form-group has-error
                    {% else %}
                      form-group has-feedback
                    {% endif %}
                  ">
                  
                  {% if field.field.required %}* {% endif %}<b>{{ field.label }}</b>:<br />

                  {% for error in field.errors %}
                    <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }} </label> <br>
                  {% endfor %}
                    <div style="width: 30%; display: inline-block; position:relative;" >
                            
                            {{ field|addcssclass:'form-control' }}
                    </div>

                  </div>
                  <br>
                {% endfor %}
                </div>

                <div class="box-footer">
                  <input type="submit" name="commit" value="{{ button }}" class="btn btn-primary">  
                </div>
              </form> 
            </div>

            <div class="btn-group">
              {% for link in links %}
                <a class="btn btn-default" href="{% url link.url %}">{{ link.name }}</a>
              {% endfor %} 
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}

{% block script %}
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <script src="{% static 'dist/js/demo.js' %}"></script>
{% endblock %}