{% extends '_template.html' %} 
{% load static %}
{% load i18n %}
{% load mysite_tags %}
{% load i18n %}
{% block scripts %}
{% endblock %}

{% block content %}
  <br />
  <form method="post" action="#" enctype="multipart/form-data" class="message_form">
   {% csrf_token %}
    <table align="left" cellspacing="1" cellpadding="3" border="0">
      <tr><th>Remetente:</th><td><span id="from_email">{{ request.user.username }}&nbsp;&#60;{{ request.user.email }}&#62;</span></td></tr>
      {{ form }}
      <tr><td colspan="2"><input type="submit" value="Enviar"></td></tr>
    </table>
  </form>
{% endblock %}

