{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}     
    <!--     Fonts and icons     -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
  
  {% with 'Anunciante' as model %}
    {% include '_modal.html' with modal=model %}
    <body>
    <div class="wrapper">
    <div class="container">
    <div class="row">

     <div class="col-md-8 col-md-offset-2">
        <div class="toolbar">
            <a class="btn btn-primary btn-sm" href="{% url 'anuncianteNew' %}"><i class="fa fa-plus "></i> <span>{% urlTitle 'anuncianteNew' %}</span> </a>
        </div>

      <div class="fresh-table toolbar-color-blue" >
        <table id="list{{ model }}" class="table">
          <thead>
              {% for column in tableHead %}
                <th data-field="{{ column }}" data-sortable="true" >{% modelFieldName model column %} &nbsp; &nbsp;</th>
              {% endfor %}
              <th>&nbsp;</th>
          </thead>
          <tbody>
            {% for anunciante in anunciantes %}
              <tr>
                <td>
                  <a id="{{ anunciante.nome }}" href="{% url 'anuncianteShow' anunciante.id %}">
                    {{ anunciante.nome }}
                  </a>
                </td>               
                <td>
                  {% if anunciante.idade is not None %}
                    {{ anunciante.idade   }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>
                <td>
                  {% if anunciante.estado is not None %}
                    {{ anunciante.estado }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>
                <td>
                  {% if anunciante.cidade is not None %}
                    {{ anunciante.cidade }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>
                 <td>
                  {% if anunciante.telefone is not None %}
                    {{ anunciante.telefone }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>
                <td>
                  {% if anunciante.email is not None %}
                    {{ anunciante.email }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </td>
                <td>
                  {% if anunciante.aprovado %}
                    APROVADO
                  {% else %}
                    NÃO
                  {% endif %}
                </td>
                <td>
                    <a href="{% url 'anuncianteEdit' anunciante.id %}" class="btn btn-primary"> 
                      <span class="fa fa-pencil text-blue"></span> 
                    </a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ anunciante.nome }}" data-model="{% url 'anuncianteDelete' anunciante.id %}">
                      <span class="fa fa-trash-o text-red"></span> 
                    </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    </div>
    </div>
  </div>
</body>
{% endwith %}

{% endblock content %}


{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listAnunciante';
    var id_modal = 'deleteModalAnunciante';
  </script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap-table.js' %}"></script>
  <script type="text/javascript" src="{% static 'mysite/dataTables.js' %}"></script>
              
{% endblock %}