{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

      <div class="container" style="justify-content: center;">
        <div class="container" style="justify-content: center;">
          <p class="mt-4">Ficamos felizes com seu interesse em anunciar conosco.<br>
            Somos uma empresa séria com o objetivo de maximizar a procura por seus serviços de forma prática, independente e personalizável. <br>
            Para isso contamos tanto com uma equipe responsável pela publicidade quanto com nossa página de busca, onde nossos visitantes
             podem encontrar com detalhes quais garotas melhor se enquadram com o que buscam de serviço.
            </p> 
          <p class="mt-4">Antes de fazer um anúncio, pedimos para que a pessoa faça um cadastro em nosso site. <br>
            Tal cadastro possibilita o login na área de anunciantes do site onde então poderá criar seu anúncio. <br>
            Além disso, lá você poderá editar e pausar seu anúncio quando quiser, criar novos ensaios de acordo com seu plano adquirido e também editá-los conforme deseja.
            </p> 
          <p class="mt-4">Você poderá pausar seu anúncio quando viajar ou quiser descansar sem prejuízo, pois os dias pausados serão acrescentados no fim de seu plano! <br>
            Você pode ajustar seus ensaios conforme a sazonalidade, isto é, pode editar a vontade os textos e ensaios para que se adaptem ao que é mais buscado
             em cada época, seja Páscoa, Halloween, Natal ou qualquer outra.
            </p> 
          <p class="mt-4">O cadastro além de dar acesso ao nosso menu de anunciante, garante a segurança de todos. <br>
            Nele pedimos que a pessoa forneça um documento e uma selfie segurando o mesmo para confirmarmos a identidade e também garantir que a pessoa é maior de idade. 
            Além disso, entraremos em contato para confirmar que as imagens cadastradas são da pessoa que enviou e que temos autorização para 
            publicar os ensaios que estarão no anúncio. <br>
            Com isso garantimos que não há publicações de anúncios com dados de terceiros e muito menos a criação de anúncios como forma de vingança ou de menores. <br>
            Com isto, pedimos paciência e compreensão pois desejamos apenas oferecer o melhor possível para todas as partes envolvidas. <br>            
            </p> 
        </div>
        <div class="container" style="justify-content: center;">
            <a class="btn btn-primary" href="{% url 'anunciantePreNew2' %}">Continuar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

{% endblock %}
