{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block content %}

      <div class="container" style="justify-content: center;">
        <div class="container" style="justify-content: center;">
          <p class="mt-4">Nosso site fornece dois tipos de planos para anúncios:<br>
            Básico e Destaque.
          </p> 
          <p class="mt-4">O plano Básico disponibiliza 2 ensaios com até 10 fotos e um vídeo e seu anúncio ficará disponível 
            na página inicial onde todos anúncios ficam e também na página respectiva a sua categoria.
          </p> 
          <p class="mt-4">O plano Destaque disponibiliza 4 ensaios com até 10 fotos e um vídeo e seu anúncio, assim como no plano Básico, 
            ficará disponível na página inicial onde todos anúncios ficam e também na página respectiva a sua categoria, 
            porém aparecerá agrupado entre os destaques, tendo então muito mais visibilidade pois aparecem antes dos anúncios básicos 
            e também aparecerá em um carrossel logo no topo da página!
          </p> 
          <p class="mt-4">Para ser justo com todas anunciantes, nosso site sempre embaralha a página de anúncios. Isto é, sempre que a página 
            é carregada, tanto a ordem dos anúncios em destaque quanto os anúncios básicos é alterada de forma aleatória porém respeitando a 
            regra de anúncios onde plano Destaque sempre aparece antes dos anúncios de plano Básico.         
          </p> 
          <p class="mt-4">Com seu cadastro de anunciante aprovado, você poderá criar seu anúncio e logo após a criação será redirecionado para a página de pagamento.<br>
            Nosso site utiliza a plataforma de pagamento do Mercado Pago para dar segurança e praticidade aos nossos anunciantes.<br>
            Desta forma, é possível pagar por Pix, Boleto ou Cartão.            
          </p> 
          <p class="mt-4">Assim que seu pagamento for aprovado, seu anúncio é automaticamente publicado para os visitantes. 
            Porém, enquanto seu pagamento estiver pendente você já poderá ver seu anúncio e também pode editá-lo.<br>
            Além disso, para os anunciantes, enquanto conectados no site, é possível ver a data de expiração do anúncio, isto é, quando seu plano acabará. 
            Para renová-lo basta clicar no botão Renovar Plano e o mesmo plano vigente será readquirido.<br>
            Caso você renove seu plano alguns dias antes dele acabar, os dias restantes não serão perdidos. Eles serão somados no seu novo plano.<br>
            Exemplo: Você possui um plano mensal, que vencerá em 5 dias e decide renovar seu plano. Então com isso você adquiriu 30 dias porém os 5 dias restantes 
            do plano atual continuam valendo, com a data de expiração do anúncio sendo 35 dias após a data atual.            
          </p> 
          <p class="mt-4">Com seu anúncio criado, você poderá criar ensaios para aparecerem no seu anúncio.<br>
            Cada ensaio tem 10 fotos e 1 vídeo sendo que o vídeo aparece na primeira posição da galeria. 
            Os planos Básico permitem 2 ensaios no anúncio e os planos Destaque 4 ensaios. Para isto basta na sua área de usuário clicar em “Criar Ensaios”, 
            selecionar seu anúncio e enviar suas fotos.<br>
            É bem simples e permite sempre que você atualize seu anúncio com ensaios novos.           
          </p> 
        </div>
        <div class="container" style="justify-content: center;">
            <a class="btn btn-primary" href="{% url 'anuncianteNew' %}">Continuar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

{% endblock %}
