{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block header %}: <b>{{ anunciante.nome }}</b>{% endblock %}

{% block content %}
  <div class="modal fade show" id="deleteModalAnunciante" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelAnunciante"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelAnunciante">Apagar Anunciante</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ anunciante.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncianteDelete' anunciante.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  {% with 'Anunciante' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary">
       <div class="box-body">
          <dl class="dl-horizontal">
            {% modelDict model anunciante as values %}

            {% if user.is_superuser %}
              {% for key, value in values.items %}
                {% if key != 'user' %}             
                <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">{% modelFieldName model key %}</dt>
                  {% if key == 'rg' %}
                    {% if anunciante.rg.url != '/pictures/0' %}
                    <a> <img src="{{ anunciante.rg.url }}" style="max-width: 400px; max-height: 400px; margin-left: 30px;"> </a> <br><br>
                    {% else %} <br> <br> 
                    {% endif %}
                  {% elif key == 'segurando_rg' %}
                    {% if anunciante.segurando_rg.url != '/pictures/0' %}
                    <a> <img src="{{ anunciante.segurando_rg.url }}" style="max-width: 400px; max-height: 400px; margin-left: 30px;"> </a> <br><br>
                    {% else %} <br> <br> 
                    {% endif %}
                  {% else %}               
                  <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value }}{% else %}&nbsp;{% endif %}</dd>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              {% for key, value in values.items %}
              {% if key != 'user' and key != 'aprovado' %}             
              <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">{% modelFieldName model key %}</dt>
                {% if key == 'rg' %}
                  {% if anunciante.rg.url != '/pictures/0' %}
                  <a> <img src="{{ anunciante.rg.url }}" style="max-width: 400px; max-height: 400px; margin-left: 30px;"> </a> <br><br>
                  {% else %} <br> <br> 
                  {% endif %}
                {% elif key == 'segurando_rg' %}
                  {% if anunciante.segurando_rg.url != '/pictures/0' %}
                  <a> <img src="{{ anunciante.segurando_rg.url }}" style="max-width: 400px; max-height: 400px; margin-left: 30px;"> </a> <br><br>
                  {% else %} <br> <br> 
                  {% endif %}
                {% else %}               
                <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value }}{% else %}&nbsp;{% endif %}</dd>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% endif %}

          </dl>
        </div>
          <div class="box-footer" style="margin-left: 30px;">
              <a class="btn btn-primary" href="{% url 'anuncianteEdit' anunciante.id %}">Editar Perfil</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-primary" href="{% url 'userChangePassword' anunciante.id %}">Alterar Senha</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ anunciante.nome }}" data-model="{% url 'anuncianteDelete' anunciante.id %}">Apagar Perfil</a>
          </div>
      </div>

     
  {% endwith %}

{% endblock %}

{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listAnunciante';
    var id_modal = 'deleteModalAnunciante';
  </script>  
{% endblock %}

