{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}     
    <!--     Fonts and icons     -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
  
  {% with 'AnuncioD' as model %}
    {% include '_modal.html' with modal=model %}
    <body>
      <div class="container mt-4">
        <div class="row">   
          <div class="col-12">
            {% if anuncios_destaques or anuncios_basicos %}  

              {% if anuncios_destaques %}  
                <div class="list-header">Destaques</div>
                <div class="list-body row">
                  {% for anuncio_destaque in anuncios_destaques %}
                    <div class="col-12 col-sm-4 col-lg-2">
                      <a href="{% url 'anuncioDShow' anuncio_destaque.id %}">
                        <div class="list-body__item">
                          <img class="capa" border="0" src="{{ anuncio_destaque.capa.url }}" >
                          <span> 
                            {{ anuncio_destaque.nome }}
                          </span>
                        </div>
                      </a> 
                    </div>
                  {% endfor %}
                  </div>
              {% endif %}

              {% if anuncios_basicos %}  
                <div class="list-header">Modelos</div>
                <div class="list-body row">
                  {% for anuncio_basico in anuncios_basicos %}
                    <div class="col-12 col-sm-4 col-lg-2">
                      <a href="{% url 'anuncioDShow' anuncio_basico.id %}">
                        <div class="list-body__item">
                          <img class="capa" border="0" src="{{ anuncio_basico.capa.url }}" >
                          <span> 
                            {{ anuncio_basico.nome }}
                          </span>
                        </div>
                      </a> 
                    </div>
                  {% endfor %}
                  </div>
              {% endif %}
            {% else %} 
              <a><center>Infelizmente não encontramos nenhum anúncio.</center></a>
            {% endif %}
          </div>
        </div>
      </div>
    </body>
  {% endwith %}
{% endblock content %}


{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listAnuncioD';
    var id_modal = 'deleteModalAnuncioD';
  </script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYYED20CQF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYYED20CQF');
  </script>
              
{% endblock %}