{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <style>
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */ 
      align-content: center!important;
      align-items: center!important;    
  }

  .tab-pane {
    z-index: 99999; /* Sit on top */
  }

  /* Modal Content (Image) */
  .modal-content {
      margin-top: auto;
      /*display: block;*/
      width: auto;
      max-width: 150vw;
      max-height: 150vh;
      margin-left: auto;
      margin-right: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      right: 35px;
      color: white;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }

  .ensaios {
    width: 70%;
  }
</style>
{% endblock %}


{% block content %}
{{ public_key|json_script:'public_key_var' }}
{{ preference|json_script:'preference_var' }}
  <div class="modal fade show" id="deleteModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelAnuncio">Apagar Anuncio</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ anuncio.nome }} </span></b>. Esta ação não pode ser revertida e para anunciar novamente você precisará adquirir outro plano. Seus ensaios relacionados a este anúncio também serão apagados. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDelete' anuncio.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade show" id="pauseModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="pauseModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pauseModalLabelAnuncio">Pausar Anuncio</h4>
        </div>
        <div class="modal-body">Pausando <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioPause' anuncio.id %}" class="btn btn-danger">Pausar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="reativarModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="reativarModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="reativarModalLabelAnuncio">Reativar Anuncio</h4>
        </div>
        <div class="modal-body">Reativando <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioPause' anuncio.id %}" class="btn btn-primary">Reativar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="renewModalAnuncio" tabindex="-1" role="dialog" aria-labelledby="renewModalLabelAnuncio"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="renewModalLabelAnuncio">Renovar Plano do Anúncio</h4>
        </div>
        <div class="modal-body">Renovando plano do anúncio <b><span> {{ anuncio.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioRenew' anuncio.id %}" class="btn btn-primary">Renovar</a>
        </div>
      </div>
    </div>
  </div>

  {% with 'Anuncio' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary"> <center>
       <div class="box-body">
          <dl class="dl-horizontal">
            {% if pagamento_pendente %}
            <dt class="input" style="padding: 0px 0 10px 30px; color: red;">Seu anúncio possui um pagamento pendente. Clique abaixo para reprocessar.</dt>
            <dt class="input" style="padding: 0px 0 10px 30px; color: red;">Caso já tenha efetuado o pagamento com sucesso via Pix ou Cartão de Crédito e em 10 minutos este aviso persistir ao recarregar a página, entre em contato com nossa equipe.</dt>
            <a class="btn btn-primary" href="{% url 'paymentProcess' pagamento_pendente.mercado_pago_preference_id anuncio.id %}">Reprocessar pagamento</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %} 
            {% modelDict model anuncio as values %}

            {% for key, value in values.items %}
              {% if key != 'user' and key != 'anunciante' and key != 'plano' and key != 'privacy' and key != 'onlyfans' and key != 'instagram' and key != 'twitter' and key != 'pausado' and key != 'data_ini' and key != 'data_exp' and key != 'data_pause' %}             
              <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">{% modelFieldName model key %}</dt> {% endif %}                 
                {% if key == 'caracteristicas' %}                
                {% for caracteristica in caracteristicas %}
                 <a class="input-lg">{{ caracteristica }}</a>
                {% endfor %} <br> <br> <br>
                {% elif key == 'informacoes' %}                
                {% for informacao in informacoes %}
                 <a class="input-lg">{{ informacao }}</a>
                {% endfor %} <br> <br> <br>
                {% elif key == 'idiomas' %}                
                {% for idioma in idiomas %}
                 <a class="input-lg">{{ idioma }}</a>
                {% endfor %} <br> <br> <br>
                {% elif key == 'atende' %}                
                {% for atende_ in atende %}
                 <a class="input-lg">{{ atende_ }}</a>
                {% endfor %} <br> <br> <br>
                {% elif key == 'formasPagamento' %}                
                {% for formaPagamento in formasPagamento %}
                 <a class="input-lg">{{ formaPagamento }}</a>
                {% endfor %} <br> <br> <br>
                {% if not caracteristicas and not formasPagamento %}
                  <dd class="input-lg"></dd> 
                {% endif %}
                {% elif key == 'capa' %}
                  {% if value != '0' %} 
                  <a> <img id="capa" src="{{ anuncio.capa.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a><br> <br> <br> 
                  {% else %} 
                {% endif %}
                {% elif key == 'cache' %}
                  {% if value != '0.0' %} 
                  <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value|linebreaks }}{% else %}&nbsp;{% endif %}</dd>
                  {% else %} 
                  <dd class="input" style="padding: 0px 0 10px 30px;">A combinar</dd>
                {% endif %}
                {% elif key == 'plano' %}
                {% elif key == 'anunciante' %}
                {% elif key == 'data_pause' %}
                {% elif key == 'local' %}
                {% elif key == 'data_ini' %}
                {% elif key == 'data_exp' %}
                  {% if request.user == anuncio.anunciante.user or request.user.is_superuser %}
                   <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">Seu anúncio expira na data:</dt>
                   <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value|date:"d M Y" }}{% else %}&nbsp;{% endif %}</dd>
                  {% endif %}
                {% elif key == 'pausado' %}
                  {% if value %} 
                    <dt class="input" style="padding: 0px 0 10px 30px; color: red;">{% if value is not None %}Seu anúncio está pausado{% else %}&nbsp;{% endif %}</dt>
                  {% endif %}
                {% else %}               
                <dd class="input" style="padding: 0px 0 10px 30px;">{% if value is not None %}{{ value|linebreaks }}{% else %}&nbsp;{% endif %}</dd>
                {% endif %}
                
            {% endfor %}
            <div>
              <dt class="input" style="font-weight: bold; padding: 5px 0 5px 30px;">
                Ensaios
              </dt>
              <div class="ensaios">
                <nav>
                  <div class="nav nav-tabs" role="tablist">
                    {% for ensaio in ensaios %}
                      <a class="nav-item nav-link" id="nav-{{ ensaio.id }}" data-toggle="tab" role="tab"  href="#{{ ensaio.id }}"
                      aria-controls="{{ ensaio.id }}" aria-selected="false">{{ ensaio.nome }}</a>
                    {% endfor %}      
                  </div>
                </nav>
                <div class="tab-content">
                  {% for ensaio in ensaios %}
                  <div id="{{ ensaio.id }}" role="tabpanel" class="tab-pane fade"
                  aria-labelledby="nav-{{ ensaio.id }}">
                    {% modelDict 'Ensaio' ensaio as values %}

                {% for key, value in values.items %}
                  {% if key != 'user' and key != 'foto1' and key != 'foto2' and key != 'foto3' and key != 'foto4' and key != 'foto5' and key != 'foto6' and key != 'foto7' and key != 'foto8' and key != 'foto9' and key != 'foto10' %} {% endif %}

                     {% if key == 'foto1' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img id="foto1" src="{{ ensaio.foto1.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a><br> <br> <br> 
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto2' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto2.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %}  
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto3' %}
                      {% if value != '0' %}
                      {% if value %}
                      <a> <img src="{{ ensaio.foto3.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto4' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto4.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto5' %}
                      {% if value != '0' %} 
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto5.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %}  
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto6' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto6.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %}  
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto7' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto7.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br><br>  
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto8' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto8.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto9' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto9.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br> 
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% elif key == 'foto10' %}
                      {% if value != '0' %}
                      {% if value %} 
                      <a> <img src="{{ ensaio.foto10.url }}" style="cursor: pointer; max-width: 33vw; margin-left: 30px;"> </a> <br> <br> <br>  
                      {% else %} 
                      {% endif %}
                      {% else %}  
                      {% endif %}
                      {% else %} 
                    {% endif %}
                                      
                {% endfor %}
                           
              </div>   
              {% endfor %}
              <div id="myModal" class="modal" tabindex="-1">

                  <!-- The Close Button -->
                <span class="close" id="fecha_modal">&times;</span>

                  <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
              </div>
            </div>
          </div>
          </dl>
        </div>
          {% if request.user == anuncio.anunciante.user or request.user.is_superuser %}
          <div class="box-footer" style="margin-left: 30px;">
              <a class="btn btn-primary" href="{% url 'anuncioEdit' anuncio.id %}">Editar Anúncio</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% if anuncio.pausado %}
                <a class="btn btn-primary" data-toggle="modal" data-target="#reativarModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioPause' anuncio.id %}">Reativar Anúncio</a>
              {% else %}
                <a class="btn btn-primary" data-toggle="modal" data-target="#pauseModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioPause' anuncio.id %}">Pausar Anúncio</a>
              {% endif %}
              <a class="btn btn-primary" data-toggle="modal" data-target="#renewModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioRenew' anuncio.id %}">Renovar Plano</a>
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ anuncio.nome }}" data-model="{% url 'anuncioDelete' anuncio.id %}">Apagar Anúncio</a>
          </div> 
          {% endif %}
        </center>
      </div>

     
  {% endwith %}


{% endblock %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
  // Adicione as credenciais do SDK
    const public_key_js = JSON.parse(document.getElementById('public_key_var').textContent)
    const preference_js = JSON.parse(document.getElementById('preference_var').textContent)
    const mp = new MercadoPago(public_key_js, {
          locale: 'pt-BR'
    });
  
    // Inicialize o checkout
    mp.checkout({
        preference: {
            id: preference_js
        },
        autoOpen: true
  });
  </script>
  <script>
    var id_list = 'listAnuncio';
    var id_modal = 'deleteModalAnuncio';
    var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementsByTagName('img');
for( var i=0,il = img.length; i< il; i ++ ){
 img[i].onclick = clickHandler;
}
var modalImg = document.getElementById("img01");
function clickHandler(){
    modal.style.display = "flex";
    modal.style.backdrop = true;
    modal.style.k = true;
    modalImg.src = this.src;
}

// Get the <span> element that closes the modal
var span = document.getElementById("fecha_modal");
modal.onclick = function() { 
  modal.style.display = "none";
}
document.addEventListener('keyup', function(e) {
  if (e.keyCode == 27) {
    modal.style.display = "none";
  }
});

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
  </script>  
  
{% endblock %}