{% extends '_template2.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}
{% load djmoney %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <style>
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */ 
      align-content: center!important;
      align-items: center!important;    
  }

  .tab-pane {
    z-index: 99999; /* Sit on top */
  }

  /* Modal Content (Image) */
  .modal-content {
      margin-top: auto;
      /*display: block;*/
      width: auto;
      max-width: 90vw;
      max-height: 90vh;
      margin-left: auto;
      margin-right: auto;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
      animation-name: zoom;
      animation-duration: 0.6s;
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

  /* The Close Button */
  .close {
      position: absolute;
      right: 35px;
      color: white;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: white;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }

  .ensaios {
    width: 70%;
  }
</style>
{% endblock %}


{% block content %}
  <div class="modal fade show" id="deleteModalAnuncioD" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelAnuncioD"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteModalLabelAnuncioD">Apagar Anuncio</h4>
        </div>
        <div class="modal-body">Apagando <b><span> {{ anuncioD.nome }} </span></b>. Esta ação não pode ser revertida e para anunciar novamente você precisará adquirir outro plano. Seus ensaios relacionados a este anúncio também serão apagados. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDDelete' anuncioD.id %}" class="btn btn-danger">Apagar</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade show" id="pauseModalAnuncioD" tabindex="-1" role="dialog" aria-labelledby="pauseModalLabelAnuncioD"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pauseModalLabelAnuncioD">Pausar Anuncio</h4>
        </div>
        <div class="modal-body">Pausando <b><span> {{ anuncioD.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDPause' anuncioD.id %}" class="btn btn-danger">Pausar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="reativarModalAnuncioD" tabindex="-1" role="dialog" aria-labelledby="reativarModalLabelAnuncioD"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="reativarModalLabelAnuncioD">Reativar Anuncio</h4>
        </div>
        <div class="modal-body">Reativando <b><span> {{ anuncioD.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDPause' anuncioD.id %}" class="btn btn-primary">Reativar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="renewModalAnuncioD" tabindex="-1" role="dialog" aria-labelledby="renewModalLabelAnuncioD"  data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="renewModalLabelAnuncioD">Renovar Plano do Anúncio</h4>
        </div>
        <div class="modal-body">Renovando plano do anúncio <b><span> {{ anuncioD.nome }} </span></b>. Deseja continuar?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <a href="{% url 'anuncioDRenew' anuncioD.id %}" class="btn btn-primary">Renovar</a>
        </div>
      </div>
    </div>
  </div>

  {% with 'AnuncioD' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary"> <center>
       <div class="box-body">
          <dl class="dl-horizontal">
            {% if pagamento_pendente %}
              <dt class="input" style="padding: 0px 0 10px 30px; color: red;">Seu anúncio possui um pagamento pendente. Clique abaixo para reprocessar.</dt>
              <a class="btn btn-primary" href="{% url 'paymentProcess' pagamento_pendente.mercado_pago_preference_id anuncioD.id %}">Reprocessar pagamento</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %} 

            {% modelDict model anuncioD as values %}

            <div class="container-fluid px-0 px-lg-5 mt-4">
              
                {% if request.user == anuncioD.anunciante.user or request.user.is_superuser %}
                  <div class="row justify-content-end">
                    <div class="user-control">
                      <button class="btn btn-primary" onclick="window.location.href='{% url 'anuncioDEdit' anuncioD.id %}'">Editar Anúncio</button>
                      {% if anuncioD.pausado %}
                        <button class="btn btn-primary" 
                          data-toggle="modal" 
                          data-target="#reativarModal{{ model }}" 
                          data-name="{{ anuncioD.nome }}" 
                          data-model="{% url 'anuncioDPause' anuncioD.id %}">
                          Reativar Anúncio
                        </button>
                      {% else %}
                        <button class="btn btn-primary" 
                          data-toggle="modal" 
                          data-target="#pauseModal{{ model }}" 
                          data-name="{{ anuncioD.nome }}" 
                          data-model="{% url 'anuncioDPause' anuncioD.id %}">
                          Pausar Anúncio
                        </button>
                      {% endif %}
                      <button class="btn btn-primary" 
                        data-toggle="modal" 
                        data-target="#renewModal{{ model }}" 
                        data-name="{{ anuncioD.nome }}" 
                        data-model="{% url 'anuncioDRenew' anuncioD.id %}">
                        Renovar Plano
                      </button>
                      <button class="btn btn-danger" 
                        data-toggle="modal" 
                        data-target="#deleteModal{{ model }}" 
                        data-name="{{ anuncioD.nome }}" 
                        data-model="{% url 'anuncioDDelete' anuncioD.id %}">
                        Apagar Anúncio
                      </button>
                    </div> 
                  </div>
                {% endif %}
              
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4 d-none d-lg-block pair-profile-side">
                  <div class="infobox mt-3 py-2">
                    <div class="container">
                      <a class="media-link whatsapp" style="background-image: url({% static 'assets/img/icone-whatsapp.png' %})" 
                        href="https://api.whatsapp.com/send?phone=55{{ anuncioD.telefone }}&text=Olá! Te vi no Vermelho Sensual e gostaria de mais informações." target='_blank'>
                      </a>
                      <div class="infobox__tag infobox__tag__large">
                        <div>{{ anuncioD.telefone }}</div>
                      </div>
                      <div class="row px-1 justify-content-around">
                        {% for formaPagamento in anuncioD.formasPagamento.all %}
                          <div class="infobox__tag col-4">
                            <div>{{ formaPagamento }}</div> 
                          </div>
                        {% endfor %}
                      </div>
                      <div class="infobox__tag infobox__tag__large">
                        <div>
                            Cachê: 
                            {% if anuncioD.cache and anuncioD.cache != 0 %} 
                              {% money_localize anuncioD.cache 'BRL' as cacheFormatado %}
                              {{ cacheFormatado }}
                            {% else %}
                              A combinar
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div >
                    {% if anuncioD.instagram1 %}
                      <div class="media-link instagram d-inline">
                        <a href="{{ anuncioD.instagram1 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-instagram.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.twitter1 %}
                      <div class="media-link twitter d-inline">
                        <a href="{{ anuncioD.twitter1 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-twitter.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.onlyfans1 %}
                      <div class="media-link onlyfans d-inline">
                        <a href="{{ anuncioD.onlyfans1 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-onlyfans.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.privacy1 %}
                      <div class="media-link privacy d-inline">
                        <a href="{{ anuncioD.privacy1 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-privacy.png' %})"></a>
                      </div>
                    {% endif %}
                    <h4 class="m-0">Conheça a {{ values.primeiroNome1 }}</h4>
                  </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                  <div class="profile-cover">
                    <div class="profile-cover__mask">
                      <img id="capa" src="{{ anuncioD.capa.url }}" onclick="clickHandler(this)">
                    </div>
                    <h2>{{ anuncioD.nome }}</h2>
                    <h6>{{ anuncioD.cidade }} - {{ anuncioD.estado }}</h6>
                  </div>  
                </div>
                <div class="col-12 col-md-5 col-lg-4 d-none d-lg-block pair-profile-side">
                  <div class="infobox mt-3 py-2">
                    <div class="container">
                      <div class="row px-1">
                        <div class="col-6 col-md-12 p-0 no-gutters">
                          <label class="infobox__label py-2 m-0">Idiomas</label>

                          {% for idioma in anuncioD.idiomas.all %}
                            <div class="infobox__tag col-5 d-inline-block d-md-none">
                              <div>
                                <span>{{ idioma }}</span>
                              </div> 
                            </div>
                          {% endfor %}  
                        </div>
                        {% for idioma in anuncioD.idiomas.all %}
                          <div class="infobox__tag col-4 d-none d-md-inline-block">
                            <div>
                              <span>{{ idioma }}</span>
                            </div> 
                          </div>
                        {% endfor %}
                      
                        <div class="col-6 col-md-12 p-0 no-gutters">
                          <label class="infobox__label py-2 m-0">Atende</label>

                          {% for atende in anuncioD.atende.all %}
                            <div class="infobox__tag col-5 d-inline-block d-md-none">
                              <div>
                                <span>{{ atende }}</span> 
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                        {% for atende in anuncioD.atende.all %}
                          <div class="infobox__tag col-4 d-none d-md-inline-block">
                            <div>
                              <span>{{ atende }}</span> 
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div>
                    {% if anuncioD.instagram2 %}
                      <div class="media-link instagram d-inline">
                        <a href="{{ anuncioD.instagram2 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-instagram.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.twitter2 %}
                      <div class="media-link twitter d-inline">
                        <a href="{{ anuncioD.twitter2 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-twitter.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.onlyfans2 %}
                      <div class="media-link onlyfans d-inline">
                        <a href="{{ anuncioD.onlyfans2 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-onlyfans.png' %})"></a>
                      </div>
                    {% endif %}
                    {% if anuncioD.privacy2 %}
                      <div class="media-link privacy d-inline">
                        <a href="{{ anuncioD.privacy2 }}" target='_blank' style="background-image: url({% static 'assets/img/icone-privacy.png' %})"></a>
                      </div>
                    {% endif %}
                    <h4 class="m-0">Conheça a {{ values.primeiroNome2 }}</h4>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="infobox mt-3">
                    <label class="infobox__label py-2">Características físicas da {{ values.primeiroNome1 }}</label>
                    <div class="container">
                      <div class="row mx-3">
                        <div class="infobox__tag col-4 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Idade</span>
                            <span>{{ values.idade1 }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-4 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Peso</span>
                            <span>{{ values.peso1 }}</span>
                          </div>
                        </div>
                       <div class="infobox__tag col-3 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Altura</span>
                            <span>{{ values.altura1 }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Categoria</span>
                            <span>{{ values.categoria1 }}</span> 
                          </div>    
                        </div>
                        <div class="infobox__tag col-3 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Biotipo</span>
                            <span>{{ values.biotipo1 }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Seios</span>
                            <span>{{ values.seios1 }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md-3">
                          <div>
                            <span class="infobox__tag__title">Olhos</span>
                            <span>{{ values.olhos1 }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label class="infobox__label my-2">Outras características</label>
                    <div class="infobox__tag-borderless my-2">
                      {% for caracteristica in values.caracteristicas1.all %}
                        <span class="col">{{ caracteristica }}</span>
                      {% endfor %}
                    </div>
                  </div>    
                </div>
                <div class="col-12 col-lg-6">
                  <div class="infobox mt-3">
                    <label class="infobox__label py-2">Características físicas da {{ values.primeiroNome2 }}</label>
                    <div class="container">
                      <div class="row mx-3">
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Idade</span>
                            <span>{{ values.idade2 }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Peso</span>
                            <span>{{ values.peso2 }}</span>
                          </div>
                        </div>
                       <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Altura</span>
                            <span>{{ values.altura2 }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Categoria</span>
                            <span>{{ values.categoria2 }}</span> 
                          </div>    
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Biotipo</span>
                            <span>{{ values.biotipo2 }}</span>
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Seios</span>
                            <span>{{ values.seios2 }}</span> 
                          </div>
                        </div>
                        <div class="infobox__tag col-3 col-md">
                          <div>
                            <span class="infobox__tag__title">Olhos</span>
                            <span>{{ values.olhos2 }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <label class="infobox__label my-2">Outras características</label>
                    <div class="infobox__tag-borderless my-2">
                      {% for caracteristica in values.caracteristicas2.all %}
                        <span class="col">{{ caracteristica }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-12 d-none d-lg-block">
                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Conheça mais sobre</label>
                    <p>{{ anuncioD.texto }}</p>
                  </div>  
                </div>
                <div class="col-12 col-lg-4 d-none d-lg-block">
                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Informações de atendimento</label>
                    <div class="container">
                      <div class="row px-1">
                        {% for informacao in anuncioD.informacoes.all %}
                          <div class="infobox__tag col-6 align-self-center">
                            <div>
                              <span>{{ informacao }}</span> 
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-12 col-lg">
                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label infobox__label__large">Ensaios</label>

                    <div class="albums">
                      <nav>
                        <div class="nav nav-tabs" role="tablist">
                          {% for ensaio in ensaios %}
                            <a class="nav-item nav-link col" id="nav-{{ ensaio.id }}" data-toggle="tab" role="tab"  href="#{{ ensaio.id }}"
                              aria-controls="{{ ensaio.id }}" aria-selected="false">{{ ensaio.nome }}</a>
                          {% endfor %}      
                        </div>
                      </nav>
                      <div class="tab-content">
                        {% for ensaio in ensaios %}
                          <div id="{{ ensaio.id }}" role="tabpanel" class="tab-pane fade"
                            aria-labelledby="nav-{{ ensaio.id }}">

                            {% modelDict 'Ensaio' ensaio as values %}
                            
                            <div class="container">
                              <div class="row">
                                {% for key, value in values.items %}
                                  {% if value != '0' and value.url %}
                                    <div class="col-4 px-1 pb-2">
                                      <div class="albums__photo-box">
                                        <img src="{{ value.url }}" 
                                          onclick="clickHandler(this)"
                                          class="img img-responsive full-width">
                                      </div> 
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endfor %}      
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-12 col-lg-4 d-lg-none">
                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Informações de atendimento</label>
                    <div class="container">
                      <div class="row px-1">
                        {% for informacao in anuncioD.informacoes.all %}
                          <div class="infobox__tag col-6 align-self-center">
                            <div>
                              <span>{{ informacao }}</span> 
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="col-12 d-lg-none">
                  <div class="infobox mt-3 py-2">
                    <label class="infobox__label py-2">Conheça mais sobre</label>
                    <p>{{ anuncioD.texto }}</p>
                  </div>  
                </div>
              </div>
            </div>
            <div id="myModal" class="modal" tabindex="-1">

                <!-- The Close Button -->
              <span class="close" id="fecha_modal">&times;</span>

                <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
            </div>
            </div>
          </div>
          </dl>
        </div>
        </center>
      </div>
  {% endwith %}
{% endblock %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYYED20CQF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZYYED20CQF');
    ga('send', {
      'hitType':'pageview',
      'title': $(location).attr('href'),
      'location': $(location).attr('href')
    });
  </script>
  <script>
    var id_list = 'listAnuncio';
    var id_modal = 'deleteModalAnuncio';
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    function clickHandler(ctx){
        modal.style.display = "flex";
        modal.style.backdrop = true;
        modal.style.k = true;
        modalImg.src = ctx.src;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementById("fecha_modal");
    modal.onclick = function() { 
      modal.style.display = "none";
    }
    document.addEventListener('keyup', function(e) {
      if (e.keyCode == 27) {
        modal.style.display = "none";
      }
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }

    // select first tab on Ensaios
    $(".albums .nav-item")[0].click();
  </script>  
{% endblock %}