{% extends '_template.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
  <div class="box box-primary">
    <section class="content">
      {% include '_form.html' with form=form button=button %}
    </section>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js'%}""  charset="UTF-8"></script>
<script type="text/javascript">    
    $('#id_data').datepicker({
      autoclose: true,
      format: "dd/mm/yyyy",
      language: 'pt-BR'
    });
    $('#id_aluno').change( function() {
        var form = $(this);
        $.ajax({
          url: "/recebimento/" + $(this).val() + "/cobrancas",
          dataType: 'json',
          success: function (data) {
            $('#id_cobranca').html("");
            
            $('#id_cobranca').append($('<option>', {
              text: '-----!'
            }));
            for (var i = 0; i < data.length; i++) {
              $('#id_cobranca').append($('<option>', {
                value: data[i].id,
                text: data[i].data + " " + data[i].aluno
              }));
            }   

          },
        });
      })
</script>
{% endblock %}