{% extends '_template.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block header %}{{ title|safe }}{% endblock %}

{% block content %}
  
  {% with 'Recebimento' as model %}
    {% include '_modal.html' with modal=model %}

     <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">
            <a class="btn btn-primary" href="{% url 'recebimentoNew' %}"><i class="fa fa-plus "></i> <span>{% urlTitle 'recebimentoNew' %}</span> </a>
          </h3>
        </div>

      <div class="box-body">
        <table id="list{{ model }}" class="table table-bordered table-striped">
          <thead>
            <tr>
              {% for column in tableHead %}
                <th>{% modelFieldName model column %}</th>
              {% endfor %}
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for recebimento in recebimentos %}
              <tr>
                <td>
                  <a href="{% url 'recebimentoShow' recebimento.id %}">
                    {{ recebimento.aluno }}
                  </a>
                </td>
                <td>
                    {{ recebimento.data }}
                </td>
                <td>
                    {{ recebimento.valor }}
                </td>
                 <td>
                    {{ recebimento.forma }}
                </td>
                <td>
                    {{ recebimento.cobranca }}
                </td>
                
                <td>
                    <a href="{% url 'recebimentoEdit' recebimento.id %}" class="btn btn-xs btn-default command-edit-btn"> 
                      <span class="fa fa-pencil text-blue"></span> 
                    </a>
                    <a type="button" class="btn btn-xs btn-default command-delete-btn" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ recebimento.data }}" data-model="{% url 'recebimentoDelete' recebimento.id %}">
                      <span class="fa fa-trash-o text-red"></span> 
                    </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  {% endwith %}

{% endblock content %}


{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_list = 'listRecebimento';
    var id_modal = 'deleteModalRecebimento';
  </script>
  <script src="{% static 'mysite/dataTables.js' %}"></script>
{% endblock %}