{% extends '_template.html' %}

{% load static %}
{% load i18n %}
{% load mysite_tags %}

{% block header %}: <b>{{ recebimento.nome }}</b>{% endblock %}

{% block content %}
<div class="modal fade" id="deleteModalRecebimento" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabelRecebimento">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabelRecebimento">Apagar Recebimento</h4>
      </div>
      <div class="modal-body">Apagando <b><span> {{ recebimento.nome }} </span></b>. Deseja continuar?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <a href="{% url 'recebimentoDelete' recebimento.id %}" class="btn btn-danger">Apagar</a>
      </div>
    </div>
  </div>
</div>
  
  {% with 'Recebimento' as model %}
    {% include '_modal.html' with modal=model %}
      <div class="box box-primary">
       <div class="box-body">
          <dl class="dl-horizontal">
            {% modelDict model recebimento as values %}

            {% for key, value in values.items %} 
              <dt class="input-lg">{% modelFieldName model key %}</dt>
              <dd class="input-lg">{% if value is not None %}{{ value }}{% else %}&nbsp;{% endif %}</dd>
            {% endfor %}

          </dl>
        </div>
          <div class="box-footer">
              <a class="btn btn-primary" href="{% url 'recebimentoEdit' recebimento.id %}">Editar</a>
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ model }}" data-name="{{ recebimento.nome }}" data-model="{% url 'recebimentoDelete' recebimento.id %}">Apagar</a>
          </div>
      </div>
  {% endwith %}


{% endblock %}

{% block script %} 
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script>
    var id_modal = 'deleteModalRecebimento';
  </script>  
  <script src="{% static 'mysite/dataTables.js' %}"></script>
{% endblock %}